%h1 Parent Widget

= allowed?{ link_to "Destroy", parent_widget_path(@parent_widget, :method => :delete) }
= allowed?{ link_to "Create Child Widget", new_parent_widget_child_widget_path(@parent_widget) }
= allowed?{ link_to "Create Singleton Widget", new_parent_widget_singleton_widget_path(@parent_widget) }